.gitattributes !filter !diff
#**/secrets/** filter=git-crypt diff=git-crypt
**/*.key filter=git-crypt diff=git-crypt
Dockerfile filter=git-crypt diff=git-crypt
settings.xml filter=git-crypt diff=git-crypt
**/*.pfx filter=git-crypt diff=git-crypt
